<nav-bar></nav-bar>

<div class="boards-page">
  <div class="boards-page__sidebar">
    <a
      routerLink="/boards"
      class="boards-page__sidebar-option"
      routerLinkActive="boards-page__sidebar-option--selected"
      >Boards</a
    >
  </div>
  <div class="boards-page__boards">
    <div class="boards">
      <p class="boards__title">My boards</p>
      <div class="boards__container">
        <inline-form
          class="boards__create-board"
          defaultText="Create new board"
          (submitEvent)="createBoard($event)"
        ></inline-form>
        <a
          *ngFor="let board of boards$ | async"
          class="boards__board"
          [routerLink]="['/boards', board.id]"
        >
          <div class="boards__board-title">{{ board.title }}</div>
        </a>
      </div>
    </div>
  </div>
</div>
