<nav-bar></nav-bar>

<div class="board" *ngIf="board$ | async as board">
  <div class="board__header">
    <inline-form
      class="board__edit"
      [defaultText]="board.title"
      [title]="board.title"
      (submitEvent)="updateBoardTitle($event)"
    ></inline-form>
    <div class="board__delete" (click)="deleteBoard()">Delete board</div>
  </div>
  <div class="board__columns">
    <div class="board__column" *ngFor="let column of columns$ | async">
      <div class="board__column-title">
        <inline-form
          class="board__column-edit"
          [defaultText]="column.title"
          [title]="column.title"
          (submitEvent)="updateColumnTitle($event, column.id)"
        ></inline-form>
        <img
          class="board__column-delete"
          src="/assets/close_icon.svg"
          (click)="deleteColumn(column.id)"
        />
      </div>
    </div>
    <inline-form
      class="board__create-column"
      defaultText="Add a list"
      [hasButton]="true"
      buttonText="Add list"
      inputPlaceholder="Add column name"
      (submitEvent)="createColumn($event)"
    ></inline-form>
  </div>
</div>

<router-outlet></router-outlet>
